<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="css\styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1> Wednesday, June 23 </h1>
    </div>

<div class="box">
    
    <div class="item">
        <input type="checkbox">
      
              <p>Buy Food</p>
       
    </div>   
    
    <div class="item">
        <input type="checkbox">
      
              <p>Cook Food</p>
       
    </div>   
    
    <div class="item">
        <input type="checkbox">
      
              <p>Eat Food</p>
       
    </div>   
    
    <div class="item">
        <input type="checkbox">
      
              <p>Wash Hair</p>
       
    </div>   
    
    <div class="item">
        <input type="checkbox">
      
              <p>Love papa</p>
       
    </div>   
    
    <div class="item">
        <input type="checkbox">
      
              <p>Learn EJS</p>
       
    </div>   
    
    <div class="item">
        <input type="checkbox">
      
              <p>hello</p>
       
    </div>   
    

    
<form action="/" method="post" class="item">
    <input type="text" name="newItem" placeholder="New Item">
    <button type="submit" name="button">+<button>
</div>



</form>

</html>